@media screen and (max-width: 576px) {

    /*----- GENERAL --------*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    #app {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    /*------ UTILITY --------*/
    
    i{
        color: white;
    }

    /*----- MAIN -----*/

    .main-container {
        height: calc(100% - 100px);
        background-color: red;
    }

    /* -----sidebar---- */
    .sidebar {
        width: 50px;
        height: 100%;
        background-color: black;
        float: left;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu-item{
        margin: 15px 0;
    }

    .sidebar img{
        width: 30px;
    }  

    #account img{
        width: 30px;
        height: 30px;
        background-color: rgb(128,128,128);
        border-radius: 50%;
    }



    /* -----corpo principale------ */
    .container {
        width: calc(100% - 50px);
        height: 100%;
        background-color: green;
        float: left;
    }

    /* ------header container------- */

    .header-container {
        width: 100%;
        height: 100px;
        background-color: rgb(8, 11, 18);
        position: fixed;
        top: 0;
        color: white;
    }

     .upgrade{
        border: 1px solid white;
        border-radius: 20px;
        display: inline-block;
        padding: 10px 30px;
        position: absolute;
        top: 30px;
        right: 60px;
    }
 

    /* ----contenitore cards------- */

    .container-cards {
        width: 100%;
        height: 100%;
        background-color: rgb(20, 25, 34);
        overflow: auto;
        position: relative;
    }


    /* -----FOOTER ------ */
    .player {
        height: 100px;
        background-color: rgb(40, 40, 40);
    }




}