/*----- GENERAL --------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*------ UTILITY --------*/

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}




/*----- MAIN -----*/

.main-container {
    height: calc(100% - 100px);
    background-color: red;
}

/* -----sidebar---- */
.sidebar {
    width: 200px;
    height: 100%;
    padding: 10px 10px;
    background-color: black;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



#logo {
    width: 100%;
    height: 40px;
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.menu-item {
    border: 1px dashed red;
    width: 100%;
    padding: 5px 0;
}

.menu-item img {
    width: 30px;
    vertical-align: middle;
    color: gray;
}

.menu-item a {
    color: white;
    text-decoration: none;
}

.menu-item span {

    font-weight: bold;
}


/* -----corpo principale------ */
.container {
    width: calc(100% - 200px);
    height: 100%;
    background-color: green;
    float: left;
}

/* ------header container------- */

.header-container {
    width: 100%;
    height: 100px;
    background-color: rgba(8, 11, 18, 0.541);
    position: fixed;
    top: 0;
    color: white;
}



/* ----contenitore cards------- */

.container-cards {
    width: 100%;
    height: 100%;
    background-color: rgb(20, 25, 34);
    overflow: auto;
}


/*--------- menù cards ----------- */






/* ------ cards-------- */










/* -----FOOTER ------ */
.player {
    height: 100px;
    padding: 10px;
    background-color: rgb(40, 40, 40);
    color: white;
    display: flex;
    justify-content: space-between;

}

/* -----sezione canzone in ascolto ------ */









/* ------sezione centrale-------- */








/*-------- sezione volume ------*/














@media screen and (max-width: 576px) {

    .sidebar {
        width: 50px;
    }

    #logo {
        background-image: url('../img/logo-small.svg');
    }

    .menu-item span {
        display: none;
    }

    .menu-item img {
        vertical-align: none;
    }


    .container {
        width: calc(100% - 50px);
    }
}