/*----- GENERAL --------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*------ UTILITY --------*/

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

a {
    color: gray;
    text-decoration: none;
}

li {
    list-style-type: none;
}

h2 {
    color: white;
    margin-bottom: 10px;
}

.border-b {
    border-bottom: 1px solid gray;
}

#box-icon-account {
    width: 30px;
    height: 30px;
    background-color: gray;
    background-image: url('../img/profile.svg');
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}


/*----- MAIN -----*/

.main-container {
    height: calc(100% - 100px);
}

/* -----sidebar---- */
.sidebar {
    width: 200px;
    height: 100%;
    padding: 10px 10px;
    background-color: black;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}


#logo {
    width: 100%;
    height: 40px;
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.menu-item {
    width: 100%;
    padding: 5px 0;
}

.menu-item img {
    width: 30px;
    vertical-align: middle;
    color: gray;
}


.menu-item span {

    font-weight: bold;
}

.menu-item a:hover {
    color: white;
}


.fa-plus-square {
    font-size: 2.2em;
    vertical-align: middle;
}

.playlist ul {
    width: 100%;
    height: calc(100vh - 450px);
    overflow: auto;
}

.playlist li {
    padding: 10px 0;
}

.playlist li a:hover {
    color: white;
}



/* -----corpo principale------ */
.container {
    width: calc(100% - 200px);
    height: 100%;
    background-color: green;
    float: left;
}

/* ------header container------- */

.header-container {
    width: 100%;
    height: 100px;
    background-color: rgba(8, 11, 18, 0.541);
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    text-align: end;
    z-index: 1;
}

.upgrade {
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 20px;
    position: absolute;
    top: 35px;
    right: 50px;
    color: white;
}

.upgrade:hover {
    transition: 0.5s;
    transform: scale(1.2);
}


/* ----contenitore cards------- */

.container-cards {
    width: 100%;
    height: 100%;
    background-color: rgb(20, 25, 34);
    overflow: auto;
}

/* ------box cards------ */
#box-cards {
    margin-top: 100px;
    padding: 20px;
}

#box-cards p {
    color: gray;
}

/*--------- navbar cards ----------- */

.navbar-cards {
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

.navbar-cards ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar-cards li {
    margin-right: 20px;
    padding-bottom: 20px;
}

.navbar-cards li a:hover {
    color: lightgray;
}

.navbar-cards a:focus {
    border-bottom: 3px solid yellowgreen;


}

/* ------ cards-------- */

#recently,
#created,
#popular {
    display: flex;
    flex-wrap: wrap;
}

.margin-t {
    margin-top: 20px;
}

.card {
    max-width: calc(100% / 6 - 20px);
    text-align: center;
    margin-right: 20px;
    margin-bottom: 10px;
}

.card img {
    width: 100%;
}

.radius-50 {
    border-radius: 50%;
}

.text-card {
    color: white;
}

.text-card span {
    color: gray;
    font-size: 15px;
}





.layover, .layover-radius {
    position: relative;
    cursor: pointer;
    top: 0;
    left: 0;
}


/* hover square */
.layover::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.349);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.play-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: none;
}

.layover:hover .play-hover {
    display: block;
}

.layover:hover::before {
    display: inline-block;
}


/* hover circle */
.layover-radius::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.349);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.layover-radius:hover .play-hover {
    display: block;
}

.layover-radius:hover::before {
    display: inline-block;
}

/* -----FOOTER ------ */
.player {
    height: 100px;
    padding: 10px;
    background-color: rgb(40, 40, 40);
    color: white;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.box-player {
    width: 200px;
    height: 100%;
}





/* -----sezione brano in esecuzione ------ */
.item-play {
    width: calc(100% / 3);
    margin-right: 5px;
}

.text-play span:hover {
    border-bottom: 1px solid grey;
    color: white;
    cursor: pointer;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cover-song-play {
    width: 40px;
    height: 40px;
}

.cover-song-play img {
    width: 100%;
}

.text-play span {
    font-size: 10px;
    color: grey;
}

.item-play i {
    margin-right: 10px;
    color: grey;
}

.item-play i:hover {
    color: white;
    cursor: pointer;
}


/* ------sezione comandi centrali-------- */

.flex-g {
    flex-grow: 1;
}

.command-top {
    width: 100%;
    height: 50%;
}

.command-top i {
    padding: 10px;
}

.fa-play-circle {
    font-size: 1.8em;
}

.expande:hover {
    transform: scale(1.2);
    cursor: pointer;
}


.command-bottom, .command-top {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time {
    padding: 0 10px;
}


/*-------- sezione comandi volume ------*/


.item-bar {
    width: 50%;
    height: 3px;
    background-color: gray;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
}

.circle {
    display: none;
}



.white {
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.white:hover {
    transition: 0.2s;
    background-color: yellowgreen;
    cursor: pointer;
}

.white:hover .circle {
    display: inline-block;
}


.item-volume i {
    padding-right: 5px;
}



@media screen and (max-width: 992px) {

    /* card */
    .card {
        max-width: 15%;
    }
}




@media screen and (max-width: 768px) {

    /* card */
    .card {
        max-width: calc(50% - 20px);
    }
}








@media screen and (max-width: 576px) {

    /* sidebar */
    .sidebar {
        width: 50px;
    }

    #logo {
        background-image: url('../img/logo-small.svg');
    }

    .menu-item {
        text-align: center;
    }

    .menu-item span {
        display: none;
    }

    .menu-item img {
        vertical-align: none;
    }

    .playlist {
        display: none;
    }


    /*  container */
    .container {
        width: calc(100% - 50px);
    }


    /* card */
    .card {
        max-width: calc(50% - 20px);
    }

}