/*----- GENERAL --------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*------ UTILITY --------*/

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

a {
    color: gray;
    text-decoration: none;
}

li{
    list-style-type: none;
}

h2{
    color: white;
    margin-bottom: 10px;
}

.border-b{
    border-bottom: 1px solid gray;
}

#box-icon-account{
    width: 30px;
    height: 30px;
    background-color: gray;
    background-image: url('../img/profile.svg');
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}


/*----- MAIN -----*/

.main-container {
    height: calc(100% - 100px);
    background-color: red;
}

/* -----sidebar---- */
.sidebar {
    width: 200px;
    height: 100%;
    padding: 10px 10px;
    background-color: black;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#logo {
    width: 100%;
    height: 40px;
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.menu-item {
    border: 1px dashed red;
    width: 100%;
    padding: 5px 0;
}

.menu-item img {
    width: 30px;
    vertical-align: middle;
    color: gray;
}


.menu-item span {

    font-weight: bold;
}


.fa-plus-square{
    font-size: 2.2em;
    vertical-align: middle;
}

.playlist ul{
    border: 1px dashed red;
    width: 100%;
    height: 200px;
    overflow: auto;
}

.playlist li{
padding: 10px 0;
}



/* -----corpo principale------ */
.container {
    width: calc(100% - 200px);
    height: 100%;
    background-color: green;
    float: left;
}

/* ------header container------- */

.header-container {
    width: 100%;
    height: 100px;
    background-color: rgba(8, 11, 18, 0.541);
    position: fixed;
    top: 0;
    color: white;
    text-align: end;
}

.upgrade{
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 20px;
    position: absolute;
    top: 35px;
    right: 220px;
    color: white;
}


/* ----contenitore cards------- */

.container-cards {
    width: 100%;
    height: 100%;
    background-color: rgb(20, 25, 34);
    overflow: auto;
}

/* ------box cards------ */
#box-cards{
    margin-top: 100px;
    padding: 20px;
}

/*--------- navbar cards ----------- */

.navbar-cards{
    width: 100%;
    height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px dashed red;
}
.navbar-cards ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.navbar-cards li{
    margin-right: 20px;

}


/* ------ cards-------- */

#flex-cards{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: calc(100% / 6 - 20px);
    background-color: red;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 10px;
}

.card img{
    width: 100%;
}








/* -----FOOTER ------ */
.player {
    height: 100px;
    padding: 10px;
    background-color: rgb(40, 40, 40);
    color: white;
    display: flex;
    justify-content: space-between;

}

/* -----sezione canzone in ascolto ------ */









/* ------sezione centrale-------- */








/*-------- sezione volume ------*/














@media screen and (max-width: 576px) {

    /* sidebar */
    .sidebar {
        width: 50px;
    }

    #logo {
        background-image: url('../img/logo-small.svg');
    }

    .menu-item{
        text-align: center;
    }

    .menu-item span {
        display: none;
    }

    .menu-item img {
        vertical-align: none;
    }



    /* navbar */
    .navbar-cards li{
        padding-bottom: 20px;
    }

    .playlist{
        display: none;
    }



    /*  container */
    .container {
        width: calc(100% - 50px);
    }


    /* card */
    .card{
        width: 200px;
    }
}