@media screen and (max-width: 576px) {

    /*----- GENERAL --------*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #app {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .main-container {
        height: calc(100% - 100px);
        background-color: red;
    }



    .player {
        height: 100px;
        background-color: blue
    }




}